@import url('https://rsms.me/inter/inter.css');

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main elements */
html {
  background-color: #2b1141;
  display: grid;
  font-family: 'Karla', sans-serif;
  height: 100%;
  place-items: center;
}

main {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* min-height: 700px; */
  background-color: #f5f5f5;
  border-radius: 0.75em;
  max-width: 700px;
  padding: clamp(0.5em, 5vw, 4em);
  text-align: center;
}

h1 {
  color: #2b283a;
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: 700;
  letter-spacing: -0.125rem;
}

p {
  color: #4a4e74;
  font-family: 'Inter', sans-serif;
  font-size: clamp(1rem, 5vw, 1.25rem);
  margin-top: 1em;
}

svg {
  border-radius: 0.25em;
}

/* button */
.roll-button {
  background-color: #962bb9;
  border-radius: 0.25em;
  border: none;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.36);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: clamp(1rem, 5vw, 1.75rem);
  margin-top: 2em;
  padding: 0.75em 2em;
}
.roll-button:active {
  box-shadow: inset 0px 6px 16px rgba(0, 0, 0, 0.36);
  box-shadow: none;
}

/* dice container and dice */
.dice-container {
  display: grid;
  gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin-top: 2em;
}

.dice {
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: clamp(1.75rem, 10vw, 2.5rem);
  height: clamp(1.75em, 10vw, 2em);
  width: clamp(1.75em, 10vw, 2em);
}

/* mobile layout - dice stacked in two vertical rows of 5 dice, main element takes the whole page*/
@media screen and (max-width: 700px) {
  html {
    display: block;
  }
  .main {
    border-radius: 0;
    height: 100%;
    min-height: 100vh;
  }
  .dice-container {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
  }
}
