@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* background-color: #0b2434; */
  background-color: #2b1141;
  display: grid;
  font-family: 'Karla', sans-serif;
  height: 100%;
  place-items: center;
}

main {
  background-color: #f5f5f5;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  height: 640px;
  justify-content: space-between;
  padding: 70px;
  text-align: center;
  width: 640px;
}

h1 {
  color: #2b283a;
  font-size: 52px;
  font-weight: 700;
}

p {
  color: #4a4e74;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  margin-top: 10px;
}

.roll--button {
  /* background-color: #5035ff; */
  background-color: #962bb9;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.36);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 32px;
  padding: 20px 60px;
}

.roll--button:active {
  box-shadow: inset 0px 6px 16px rgba(0, 0, 0, 0.36);
  box-shadow: none;
}

.dice--container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.dice {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  height: 70px;
  width: 70px;
}

svg {
  border-radius: 8px;
}
